@media screen and (max-width: 1100px) {
	.offset { width: 100%; }
	.content { width: 580px; }
}

@media screen and (max-width: 975px) {
	.realsidebar { width: 240px; }
	.statcol { margin: 0px; }
/*	.content { width: 400px; max-width: 70%;}
	.realsidbar { min-width: 00px; }
	.realsidebar { width: 100%; margin: 2em 2em; }
	*/
	
}

@media screen and (max-width: 825px) {
	.header, .content, .offset, #topmenu { width: 100% !important; box-sizing: border-box; }
	.statcol { display: block !important; clear: both; float: none !important;}
	.realsidebar{ margin-bottom: 2em; width: 90% !important; }
	.padbelow { margin-bottom: 12px !important; }
	li, dd { margin: 0.85em 0px; }
	
	.sparewidth { flex-grow: revert; } .flex { display: block !important; } 
	/* turn columns into rows */
}

@media screen and (max-width: 480px) {
  .posthere { padding: 32px 16px; }
}

