/***********
    Layout
*/

*::selection{
    background-color: #FF4B33;
    color: white;
}

.offset {
    margin-right: 0;
    width: 1060px;
    float: none;
    margin: 0 auto !important;
}

html, body { padding-bottom: 24px; }

body {
    font-family: Tahoma, 'Apple SD Gothic Neo', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
}

a, img, a img, iframe, form, abbr, acronym, object, applet, table, a abbr, a acronym {
    border-width: 0;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
    font: inherit;
    white-space: normal;
}

div.statcol{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    float: left;
/*    padding-left: 8px;
    padding-right: 8px;*/
    padding-top: 8px;
    font-size: 14px;
    border: solid #000000 0px;
    vertical-align: middle;
}

div.statrow{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    border: solid #000000 0px;

    vertical-align: middle;
    min-width: 100px;
    
    clear: both;
}

/***********
    Top Menu
*/

#topmenu {
    margin-right: 10px;
    width: 510px;
    padding-bottom: 1.8 em !important;
}

.sidebar, .footer {
    background: none repeat scroll 0 0 #F4F4F4;
    border-bottom: 2px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    padding: 1em 1em;
}

.group, .header, .sidebar, .footer, .content { float: left; }
.widget-area { padding-left: 1em; }

.aside, .aside input {
    font-size: 0.9em;
    line-height: 1.2em;
    text-decoration: none;
    color: #666666;
}

#topmenu .aside, #topmenu .aside input { margin-bottom: 0.4em; }

/* onwards header content */
.aside h3, .aside h3 a, {
    color: #666666;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.8em;
    text-decoration: none;
}

/*h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2em; }
th, b, strong, h1, h2, h3, h4, h5, h6, dt { font-weight: normal; }*/

p { margin: 0.35em 0px; padding: 0px; }
.readingcontent h1, .readingcontent h2, .readingcontent h3, 
.readingcontent h4, .readingcontent h5, .readingcontent h6, { 
    line-height: 1.35em; 
    color: #333333;
    /*color: #FF4B33;*/
}

.readingcontent h1 {
    border-bottom: 2px dotted #60C2AD;
    margin-bottom: 8px;
}


/* * {
    font-size: 1em;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}*/

.xoxo li {
    display: inline-block;
    list-style-type: none;
    padding-right: 8px;
}

.xoxo li img { margin-right: 8px; }

/***********
    Sidebar
*/

.realsidebar {
    min-height: 300px;
    width: 290px;
    padding: 8px; 
     margin-right: 10px;
    margin-left: 32px;
     margin-top: 1.8em; 
    
     /*position: fixed; left: 150px; */
    /*display: inline-block;*/
    
    background: none repeat scroll 0 0 #F4F4F4;
    border-bottom: 2px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    
    /*padding-top: 63px; padding-bottom: 24px;*/
    
    /* visibility: hidden  opacity: 0.15; */
}


.realsidebar h1 {
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2em;
    padding: 0 0 .2em;
    text-decoration: none;

    border-bottom: 2px dotted #60C2AD;
    margin-bottom: 8px;
}

/***********
    Header
*/

.header {
    margin-right: 10px;
    max-height: 300px;
    width: 590px;
    padding: 8px;
    margin-top: 1.8em;
}

.group, .header, .sidebar, .footer, .content { float: left; }

/* header text onwards */
#blog-title a {
    font-weight: bold;
    line-height: 1.4em;
    text-decoration: none;
    color: #000000;
}
.header #blog-title a { font-size: 2.4em; }
.realsidebar #blog-title a { font-size: 1.2em; }

#blog-title a:active, #blog-title a:hover, .entry-title a:active, .entry-title a:hover {
    color: #FF4B33;
}

/* description text onwards */
#blog-description {
    color: #666666;
    font-size: 0.9em;
    font-style: italic;
}

/***********
    Hyperlinks and Forms
*/

a:link, a:visited { color: #0066cc; }
a:hover { color: #FF4B33; }
a:active, .a:focus { color: #000000; }
a { text-decoration: underline; }
/* a:link { color: #004B91; } */

select { padding: 0.2em 0.1em 0; }
input, select, button { cursor: pointer; }

.tape {
background-image: url(../images/tapeleft.png), url(../images/taperight.png), url(../images/tapemiddle.png);
background-repeat: no-repeat, no-repeat, repeat;
background-position: left, right, center;
padding-left:16px; padding-right:16px;

font-size: 1.05em;
height:32px;
min-width:75px;
line-height:32px;
text-align:center;
border:0 solid #000000;
margin:0;
display:inline-block;
}

/* --- fix columns */
.nofloat { display: inline-table !important; float: none !important; }

.flex { display: flex !important; }
.sparewidth { flex-grow: 100; }
/* make column fill spare remaining width of container 
        https://stackoverflow.com/a/40447261/337306 */

        .makehigh{ display: table; }
        .makehigh .column { display: table-cell; float: none; }
        /* all columns same height */
        /* https://www.w3schools.com/howto/howto_css_equal_height.asp */

/* _______ */

/* ---- forms */ 

.bigbutton {
 font-family: Droid Sans, Verdana, Verdana, Helvetica, sans-serif;  
 font-size: 24px;
 background-color: #dcddcb; color: #666666;
 margin-right: 6px;
 border:3px ridged #f46539; padding: 3px;
 
}

.bigtext {
 font-family: Droid Sans, Verdana, Verdana, Helvetica, sans-serif;  
 font-size: 24px;
 margin-right: 6px;
 background-color: #dcddcb; border: 1px solid #666666;
}

input[type="text"], input[type="password"], textarea{
    font-size: 16px;
    background-color: #cccccc;
    border-bottom: solid 1px #CF9766;
    border-top: 0px; border-left: 0px; border-right: 0px;
    margin-right: 6px;
    border:1px solid #f46539;
    font-family: Verdana;
    color: #3c3c3c;
}

.form-submit{ clear: both; }

 
button, button[type=submit] {
    font-size: 12px;
    margin-right: 6px;
    background-color: #CCCCCC;
    padding: 8px;
    border: 3px ridge #f46539;
    font-family: Verdana;
    text-align: left; vertical-align: top;
    font-family: Verdana;
    color: #3c3c3c;
}

select{
    font-size: 16px;
    background-color: #cccccc;
    color: #262626;
    margin-right: 6px;
    border:1px solid #f46539;
    font-family: Verdana;
} 

/***********
    Sidebar
*/
.sidebar {
    border-top: 2px solid #CCCCCC;
    padding-top: 2em;
    margin-right: 10px;
    width: 90px;
    float: left;
    clear: both;
}

/***********
    Content
*/
.content {
    border-top: 1px solid #CCCCCC;
    padding-top: 2em;
    margin-right: 10px;
    width: 670px;
}

.posthere {
    background-color: #F4F2DC;
    border-bottom: 2px solid #CF9766;
    border-top-left-radius: 20px 10px;
    border-top-right-radius: 20px 10px;
    margin-bottom: 48px;
    margin-top: 12px;
    padding: 32px;
    text-align: left;
}

.wp-caption {
    text-align:center; padding:10px; margin:0px;
    border-left: 2px dotted #60C2AD; border-bottom: 2px dotted #CF9766;
    font-size: 0.8em;
}
/* .posthere img { max-width: 600px; object-fit: fill; } */

.posthere li { list-style-type: square; }

.entry-title {
    border-bottom: 2px dotted #60C2AD;
    margin-bottom: 8px;
}

.entry-title, .entry-title a {
    color: #000000;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2em;
    padding: 0 0 0.2em;
    text-decoration: none;
}

blockquote{
    margin-left: 32px; padding-left: 12px;
    border-left: 1px dotted #60C2AD; border-bottom: 1px dotted #CF9766;
    margin-bottom: 12px;
}

pre { font-family: Consolas,Monaco,Lucida Console,Courier New; font-size: 0.8em; }

/* reading content readability onwards */
.readingcontent{
    font-size: 1.2em;
    /* font-family: ToshnaStdBookDemoRegular, Cambria; */
    letter-spacing: 0.02em;
    line-height: 1.5em; /* line-height: 24px; */
} .readingcontent p, .readingcontent div{ margin-bottom: 1.5em; /* margin-bottom: 14px; */ }

/* post information onwards */
.entry-meta, .entry-meta a, .entry-utility, .entry-utility a {
    color: #666666;
    /*font-size: 0.9em;*/
    font-style: italic;
    line-height: 1.2em;
    margin-bottom: 8px;
    text-decoration: none;
    margin-bottom: 1.8em;
}

 .entry-meta a:hover, .entry-utility a:hover {
    color: #FF4B33;
}

.entry-utility{ margin-top: 1.8em !important; }

/* commenting onwards */
.tinybox, input#submit{
    padding: 0px 3px;
    margin-right: 8px;
    border: solid #000000 0px;
    font-size: 12px;
    background-color: #60C2AD;
    display: inline-block;
    font-weight: bold;
    color: #f4f2dc;
}
.tinybox a, .datetime a {text-decoration: none;}
.tinybox a { color: #f4f2dc;}
input#submit { padding: 6px }

.datetime{
    padding: 3px;
    margin-right: 8px;
    border-bottom: dotted #CF9766 1px;
    font-size: 10px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

.padhere { margin-bottom: 0.85em; }

#respond, .padbelow { margin-bottom: 48px; }


#navcontainer { min-width: 100px; }

#navcontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
margin: 0px;
}

#navcontainer li {  }

#navcontainer #navlist li:first-child a { border-top: 2px dotted #60C2AD; }

#navcontainer a
{
display: block;
padding: 16px;
/*background-color: #D4CC77;*/
border-bottom: 2px dotted #60C2AD;
}

#navcontainer a:link, #navlist a:visited
{
color: #2a2a2a;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #FF4B33;
font-weight: bold;
padding-left: 16px;
color: white;
}


/* end ____________ */

